
@{
	ViewBag.Title = "SingUp";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Search</title>
	<link rel="stylesheet" href="/static/master3.css">
</head>
<body>
	<div class="login-box">
		<h1>Search</h1>
		<form method="post" action="/Product/SearchCat">
			<p></p>
			<a href="/Product/SearchCat?cod=1">Fruits</a>
			<p></p>
			<a href="/Product/SearchCat?cod=2">Vegetables</a>
			<p></p>
			<a href="/Product/SearchCat?cod=3">Meats</a>
		</form>
	</div>
</body>
</html>
